$primary-color: #916000;
$link-color: #AC8A46;
$link-hover-color:#6C4700;
$text-color-base: #8D8D8D;
$text-color-label: #212529;
$text-color-form: #818A91;
$text-color-link: #848484;
$border-color: #CED4DA;
$text-color-background: #E0E0E0;
$icon-color: #916019;
$number-color: #495057;
$mobile-color-menu: #707070;
$font-family-ch: "PingFang TC";
$font-family-en: "SF Pro Text";
$font-size-1: 16px;
$font-size-2: 20px;
$font-size-3: 24px;
$font-size-4: 28px;
$font-size-5: 32px;
$font-size-6: 36px;
$font-size-7: 40px;
$font-weight-article: 300;
$font-weight-title: bold;
$font-weight-subtitle: 600;